<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Session</title>
  <style>
    .u-container {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      width: min(100%, 800px);
    }
  </style>
</head>
<body>
  <div class="u-container">
    <h1>Session</h1>
    <div><%= count %></div>
  </div>
</body>
</html>
